<html>
	<ul>
{% for post in posts %}
            <li>{{post}}</li>
            <li>{{post.Author}}</li>
            <li>{{post.Title}}</li>
            <li>{{post.Discription}}</li>
            <li>{{post.Text }}</li>
            <li>{{post.Kind }}</li>
            <li>{{post.Name }}</li>
            <li>{{post.Photo_url }}</li>
            <li>{{post.Article }}</li>
            <li>{{post.Color }}</li>
            <li>{{post.Price_5k}}</li>
            <li>{{post.Price_10k}}</li>
            <li>{{post.Price_20k}}</li>
            <li>{{post.Price_many}}</li>
            <li>{{post.Size }}</li>
            <li>{{post.Weight }}</li>
            <li>{{post.Created_date }}</li>
            <li>{{post.Published_date }}</li>
{% endfor %}
	</ul>
</html>
